table {
    width: 100%;
}
.pointer{
    cursor: pointer;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.table-container{
    margin-top: 32px;
}
.containerToolbar{
    position: relative;
}
.btn_add{
    background-color: #a17915;
    color: #fff;
    right: 20px;
    position: absolute;
    top: 14px;
}