.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cell {
  box-sizing: border-box;
  flex-shrink: 0;
  width: calc(100% * 4 / 12);
}
img {
  height: 100%;
  width: 100%;
}
.open{
  opacity: 1;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  size: 100%;
  text-align: center;
  transition: opacity 0.3s ease;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modalBox{
  /* background: white; */
  size: 300px;
  margin: 0 auto;
  position: relative;
  top: calc( 50% - 150px);
  transform: translateY(-50%);
}