<div>
    <mat-toolbar class="containerToolbar">
        <span appTitles>Inscripciones</span>
        <button mat-raised-button class="btn_add" (click)="openModal('add',0)">Agregar</button>
    </mat-toolbar>
    <div class="table-container">
      <!-- <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
      </mat-form-field> -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="listInscripcion">
            <ng-container matColumnDef="id">
              <th mat-header-cell  *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element;let i = index"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="idAlumno">
              <th mat-header-cell *matHeaderCellDef> Alumno_Id </th>
              <td mat-cell *matCellDef="let element"> {{ element.idAlumno }} </td>
            </ng-container>
            <ng-container matColumnDef="nombreAlumno">
              <th mat-header-cell *matHeaderCellDef> Alumno </th>
              <td mat-cell *matCellDef="let element"> {{ element.nombreAlumno }} </td>
            </ng-container>
            <ng-container matColumnDef="idCurso">
              <th mat-header-cell *matHeaderCellDef> Curso_Id </th>
              <td mat-cell *matCellDef="let element"> {{ element.idCurso }} </td>
            </ng-container>
            <ng-container matColumnDef="nombreCurso">
              <th mat-header-cell *matHeaderCellDef> Curso </th>
              <td mat-cell *matCellDef="let element"> {{ element.nombreCurso }} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;"> 
                  <a class="pointer" matTooltip="Editar Alumno" (click)="openModal('edit',element)">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <a class="pointer" matTooltip="Eliminar Alumno" (click)="openModalEliminar(element.id)"> 
                    <mat-icon>delete</mat-icon>
                  </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
          </mat-paginator> -->
      </div>
    </div>
    <app-crear-editar-inscripcion  *ngIf="modalAddEdit==='open'" (closeModalevent)="closeModal()" [modal]="modalAddEdit" [seleccionado]="seleccionado" [typemodal]="typemodal" ></app-crear-editar-inscripcion>
    <app-eliminar-Inscripcion *ngIf="modalEliminar==='open'" (closeModalevent)="closeModalEliminar()" [modal]="modalEliminar" [seleccionado]="seleccionado"></app-eliminar-Inscripcion>
</div>
