
<div *ngIf="_AuthService.isAuthenticatedSrc | async;" >
  <div *ngFor="let u of user$ | async" class="toolbar">
    <ul *ngIf="u.usuario.rol === 2 || rol === 2 else falsedad">
      <li class="list" routerLinkActive="active">
        <a routerLink="/alumnos"  >
          <span class="title">Alumnos</span>  
        </a>
      </li>
      <li class="list" routerLinkActive="active">
        <a routerLink="/cursos">
          <span class="title">Cursos</span>  
        </a>
      </li>
      <li class="list" routerLinkActive="active">
        <a routerLink="/inscripciones">
          <span class="title">Inscripciones</span>  
        </a>
      </li>    
    </ul>
    <ng-template #falsedad>
      <ul>
        <li class="list" routerLinkActive="active">
          <a routerLink="/cursosXAlumno">
            <span class="title">Mis Cursos</span>  
          </a>
        </li> 
      </ul>
    </ng-template>
  </div>
</div>
