<div class="content-cards">
    <div class="movie-card" *ngFor="let movie of movies">
        <div class="movie-card-item-content">
            <div class="movie-info">
                <div class="image-loader">
                    <img
                        role="presentation"
                        alt="A CIEGAS"
                        src={{movie.img}}
                    />
                </div>
                <div [ngClass]="movie.estado === 'estreno' ? 'movie-info-label': 'disable'">Estreno</div>
            </div>
            <div class="movies-description">
                <div class="movies-description-title">
                    {{movie.titulo}}
                </div>
                <div class="movies-description-extra">
                    {{movie.genero}}, {{movie.duracion}}, {{movie.publico}}
                </div>
            </div>
        </div>
    </div>
</div>
