.navbar{
    background-color: #a17915;
    color: #000;
    font-family: fantasy;
    font-size: 35px;
    display: flex;
    align-items: center;
    padding: 16px;
    cursor: default;
    height: 40px;
}
.navbar .logo{
    width: 70px;
}
.navbar .user{
    position: absolute;
    right: 32px;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.navbar .user button{
    height: 40px;
    width: 120px;
    color: #fff;
    border: solid 1px rgb(88, 88, 88);
    background: #1a1a1a;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 16px;
}
.navbar .user img{
    margin-right: 8px;
    width: 40px;
    height: 40px;
}
