.grid-header{
    grid-area: header
}
.grid-menu{
    grid-area: menu;
    width: 260px;
}
.grid-contenido{
    grid-area: main;
    padding: 32px;
    overflow-x: auto;
}
.grid-container{
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'header header'
        'menu main';
    height: 100vh;
    /* padding-left: 220px */
}