<div class="toolbar">
    <ul>
        <li class="list active">
          <a href="#">
            <span class="title">Películas</span>  
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="title">Cines</span>  
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="title">Dulcería</span>  
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="title">Nosostros</span>  
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="title">Socio Cine</span>  
          </a>
        </li>
      </ul> 
</div>
