<div class="toolbar">
    <ul>
        <li class="list" routerLinkActive="active">
          <a routerLink="/alumnos"  >
            <span class="title">Alumnos</span>  
          </a>
        </li>
        <li class="list" routerLinkActive="active">
          <a routerLink="/alumnos_aprobados"  >
            <span class="title">Alumnos Aprobabos</span>  
          </a>
        </li>
        <li class="list" routerLinkActive="active">
          <a routerLink="/cursos">
            <span class="title">Cursos</span>  
          </a>
        </li>
        <li class="list" routerLinkActive="active">
          <a routerLink="/clases">
            <span class="title">Clases</span>  
          </a>
        </li>
        <!-- <li class="list">
          <a routerLink="">
            <span class="title">usuarios</span>  
          </a>
        </li>
        <li class="list">
          <a routerLink="">
            <span class="title">perfil</span>  
          </a>
        </li> -->
      </ul> 
</div>
